<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset=" UTF-8>">
    <link rel="stylesheet" type="text/css" href="table.css">
    <title>Поиск</title>
</head>
<body>
<p>Поиск цветов</p>
<a id="passive" href="/">Каталог</a>
<a id="active" href="/showSearch">Поиск</a>
<form align="center" action="#" th:action="@{/search}" th:object="${searchForm}" method="get">
    <input type="text" th:field="*{text}">
    <select th:field="*{searchType}">
        <option value="По имени">По имени</option>
        <option value="По семейству">По семейству</option>
        <option value="По цвету">По цвету</option>
        <option value="По цене">По цене</option>
        <option value="По способу ухода">По способу ухода</option>
    </select>
    <button>Найти</button>
</form>
<table align="center">
    <tr>
        <th> Фотография</th>
        <th> Название</th>
        <th> Семейство</th>
        <th> Цвет (если цветущее)</th>
        <th> Цена</th>
        <th> Особенности ухода</th>
    </tr>
    <tr th:if="${#lists.isEmpty(flowers)}">
        <td colspan="2"> Нет результата</td>
    </tr>
    <tr th:each="flower : ${flowers}">
        <td><img th:src="${flower.photoPath}"/></td>
        <td><span th:text="${flower.name}"> Название </span></td>
        <td><span th:text="${flower.family}"> Семейство </span></td>
        <td><span th:text="${flower.color}"> Цвет </span></td>
        <td><span th:text="${flower.price}"> Цена </span></td>
        <td><span th:text="${flower.care}"> Особенности ухода </span></td>
    </tr>
</table>
</body>
</html>